.content {
  padding-bottom: 90px;
}

.header {
  margin-bottom: 8px;
}

.header__body {
  width: 100%;
}

.text {
  font-size: var(--fz18);
  font-style: italic;
  font-weight: var(--medium);
  line-height: 144%;
  padding-right: 5px;
}
