:root {
  /* COLORS */
  --text-primary: #2c2d2e;
  --text-secondary: rgba(0, 0, 0, 0.87);
  --text-grey: #87898f;
  --background-white: #ffffff;
  --background-grey: #f9f9f9;
  --red: #ff2045;
  --green: #52a754;
  --grey: #f3f3f3;
  --carrot: #ff7355;
  --purple: #6b2abc;
  --foreground: #171717;
  --navbg-active: #ffe3dd;
  /* FONT-SIZES */
  --fz12: 12px;
  --fz14: 14px;
  --fz16: 16px;
  --fz18: 18px;
  --fz20: 20px;
  /* FONT-WEIGHTS */
  --regular: 400;
  --medium: 500;
  --bold: 600;

  /* SIZES */
  /* (max width content + padding-left + padding-right) */
  --mobile-container-max-width: calc(400px + 16px + 16px);
}

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  /* disables blue highlighting on tap on mobile devices */
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: var(--background-grey);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
