.ball {
  --shadow-color: #f1f1f1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(18, 25, 43, 0.04);
  position: relative;
  background-color: var(--background-white);
  cursor: pointer;
}

.ball::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 0 -4px 0px var(--shadow-color);
  transform: rotate(314deg);
}

.done {
  position: absolute;
  top: 2.5px;
  right: 1.5px;
}

.text {
  font-size: var(--fz18);
  line-height: 133%;
}

@media (min-width: 360px) {
  .ball {
    width: 71px;
    height: 71px;
  }

  .ball::before {
    box-shadow: inset 0 -6px 0px var(--shadow-color);
  }
}
