.navItem {
  width: 100%;
}

.navWrapper {
  margin-bottom: 24px;
}

.text {
  font-weight: var(--medium);
  font-size: var(--fz16);
  line-height: 125%;
  color: var(--text-secondary);
}

@media (min-width: 360px) {
  .navItem {
    width: calc((100% - 8px) / 2);
    cursor: pointer;
  }

  .navItem:nth-of-type(5) {
    width: 100%;
  }
}
